@import url(https://fonts.googleapis.com/css2?family=Jost:wght@200&display=swap);

* {
    margin: 0;
    border: 0;
    padding: 0;
}

:root {
    --backgroundColor: black;
    --foregroundColor: white;
    --resultsTrayColor: beige;
    --textColor: black;
}

body {
    background-image: url(img/Daytime.jfif);
    background-repeat: no-repeat;
    color: var(--textColor);
    font-family: "Jost";
    overflow: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    position: relative;
    cursor: default;
    margin: 0px;
    border: 0px;
    padding: 0px;
}

body::-webkit-scrollbar {
    display: none;
}

#content {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#resultsTray {
    background-color: rgb(225, 255, 255, 0.5);
    font-size: clamp(2rem, 2.7vmax, 2.5rem);
    color: var(--textColor);
    border-radius: 5%;
    max-height: 20vh;
    min-height: 10vh;
    width: auto;
    max-width: 11.5cm;
    transform: translate(0, 0.2cm);
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
    list-style: none;
    z-index: 1;
}

#showWeather {
    background-color: var(--foregroundColor);
    font-size: clamp(2rem, 2.7vmax, 2.5rem);
    color: var(--textColor);
    border-radius: 5%;
    min-height: 10cm;
    max-height: 15cm;
    min-width: 10cm;
    max-width: 20cm;
    z-index: 2;
}

#showWeather p {
    font-size: clamp(2rem, 2.7vmax, 2.5rem);
    text-align: center;
}

#showWeather > div {
    display: flex;
    flex-flow: row nowrap;
    flex-basis: auto;
    align-content: flex-start;
    justify-content: center;
}

#settings > #unitChangeBack, #unitChangeForth {
    font-family: "Jost";
    background-color: rgba(0,0,0,0);
    font-size: clamp(2.1rem, 3vmax, 2.7rem);
    cursor: pointer;
    width: 100%;
}

#settings > #unitChangeBack {
    padding-left: 2%;
    text-align: left;
}

#settings > #unitChangeForth {
    padding-right: 2%;
    text-align: right;
}

#settings > #unitChangeBack:hover, #unitChangeForth:hover {
    font-weight: 600;
}

#searchBar {
    width: min-content;
}

#searchBar > #search {
    font-family: "Jost";
    font-size: clamp(2rem, 2.7vmax, 2.5rem);
    text-align: center;
}

#searchBar > #search:hover {
    font-weight: 600;
}

#showWeather > #stats {
    flex-flow: row wrap;
}

#stats > .row2, .row3 {
    flex: 0 0 33%;
}

#stats > .row4, .row5, .row6, .row7 {
    flex: 0 0 50%;
}

#stats > #tempLow {
    font-size: clamp(2.1rem, 3vmax, 2.7rem);
}

#stats > #tempCurrent {
    font-size: clamp(2.5rem, 4vmax, 3.2rem);
}

#stats > #tempHigh {
    font-size: clamp(2.1rem, 3vmax, 2.7rem);
}

#weatherIcon {
    height: 3rem;
    width: 3rem;
    padding-left: 6px;
}

#searchIcon {
    height: 2rem;
    width: 2rem;
    padding-top: 7px;
    padding-left: 2px;
}

@media only screen and (max-width: 700px) and (max-height: 900px) {
    html, body {
        overflow: hidden;
    }

    body {
        position: relative;
    }

    li {
        font-size: clamp(1.5rem, 2.4vmax, 2.5rem);
    }
    
    #resultsTray {
        font-size: clamp(1.8rem, 2.4vmax, 2.5rem);
        height: 10vh;
        width: auto;
        max-width: 11.5cm;
        z-index: 1;
    }

    #showWeather {
        font-size: clamp(1.8rem, 2.4vmax, 2.5rem);
        width: 100vw;
    }
    
    #searchBar > #search {
        font-size: clamp(1.6rem, 2.7vmax, 2.7rem);
    }

    #settings > #unitChangeBack, #unitChangeForth {
        font-size: clamp(1.6rem, 2.7vmax, 2.4rem);
    }

    #stats > #tempLow {
        font-size: clamp(1.6rem, 2.7vmax, 2.7rem);
    }
    
    #stats > #tempCurrent {
        font-size: clamp(2rem, 3.7vmax, 3.2rem);
    }
    
    #stats > #tempHigh {
        font-size: clamp(1.6rem, 2.7vmax, 2.7rem);
    }
    
    #weatherIcon {
        height: 3rem;
        width: 3rem;
        padding-left: 6px;
    }
    
    #searchIcon {
        height: 2rem;
        width: 2rem;
        padding-top: 7px;
        padding-left: 2px;
    }
}